body{
    background-color: #232323;
    text-align: center;
    margin: auto;
}

h1{
    margin-top: 3%;
    color: #F5F5DF;
}

h2{
    color: #D4AF37;
}

div{
    font-size: 1.3em;
    margin-top: 15px;
}

.cat{
    width: 50%;
    float: left;
    margin-top: 8%;
}

a{
    color: #0892D0;
    
    text-decoration: underline;
}

a:hover{
    color: #C7EA46;
    text-decoration: none;   
}